*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

main {
    background-color: gray;
    text-align: center;
}

.phone {
    border: 0.25rem solid black;
}

.input-container {
    background-color: beige;
}