*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: gray;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    position: absolute;
    top: 0;
    color: black;
    margin-top: 3rem;
    font-size: 1.75rem;
}

.header {
    text-align: center;
    margin-top: 6rem;
    font-size: 2.5rem;
}

.phone {
    background-color: black;
    border: 1rem solid black;
    border-radius: 0.85rem;
    width: 17rem;
    height: 32rem;
    margin-top: 2rem;
    padding-top: 1.5rem;
}

.camera {
    position: relative;
    top: -1.35rem;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
}

.screen {
    background-color: rgb(243, 243, 242);
    border-radius: 0.25rem;
    height: 26rem;
}

.input-container {
    padding: 0.5rem;
}

label {
    font-weight: bold;
}

input {
    border-radius: 0.25rem;
    margin: 0.5rem;
    padding: 1rem;
}

button {
    margin: 0.5rem;
    width: 5.5rem;
    height: 1.5rem;
}

button:hover {
    cursor: pointer;
}