*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: gray;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone {
    border: 0.25rem solid black;
    width: 16rem;
    height: 24rem;
}

.input-container {
    background-color: beige;
}